# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [3]:
# for keyword, counter/iterator, in keyword, object
name = "Morgan McIntosh"

# for keyword
# for letter in name:
#     print(letter)


print(len(name))

# looping by index
# for keyboard, iterator variable, in keyword range(len(object))
for i in range(len(name)):
    print(name[i])

15
M
o
r
g
a
n

M
c
I
n
t
o
s
h

In [5]:
# enumerate()
name = "Morgan McIntosh"

for i, value in enumerate(name):
    print(i, value)

0 M
1 o
2 r
3 g
4 a
5 n
6
7 M
8 c
9 I
10 n
11 t
12 o
13 s
14 h

##### Using 'in' keyword

In [6]:
#in is what accesses the items in an iterable
for num in range(15):
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [ ]:
name = "mega man"
if "g" in name:
    print("yay its here")
else:
    print("its not here")

##### Continue Statement

In [7]:
#continue 
for num in range(20):
    print(num)

# continue on to the next iteration
for i in range(20):
    if i == 5 or i ==6:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [8]:
# will break out of current loop
# we use break as part of a condition
for num in range(10):
    print(num)
print("\n")

# using the break keyword with a condition
for num in range(10):
    if num == 7:
        break
    print(num)

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
for i in range(20):
    pass

In [12]:
cool_person = "Yugi moto"
# loop through using the three for loops we talked about
# loop by value, index, and enumerate

# for index
for i in range(len(cool_person)):
    print(cool_person[i])
# for enumerate
for i, cheetah in enumerate(cool_person):
    print(cheetah)
# value
for char in cool_person:
    print(char)

Y
u
g
i

m
o
t
o
Y
u
g
i

m
o
t
o
Y
u
g
i

m
o
t
o

##### Double For Loops

In [13]:
for i in range(5):
    for j in range(5):
        print(" i = ", i, "j = ", j)

 i =  0 j =  0
 i =  0 j =  1
 i =  0 j =  2
 i =  0 j =  3
 i =  0 j =  4
 i =  1 j =  0
 i =  1 j =  1
 i =  1 j =  2
 i =  1 j =  3
 i =  1 j =  4
 i =  2 j =  0
 i =  2 j =  1
 i =  2 j =  2
 i =  2 j =  3
 i =  2 j =  4
 i =  3 j =  0
 i =  3 j =  1
 i =  3 j =  2
 i =  3 j =  3
 i =  3 j =  4
 i =  4 j =  0
 i =  4 j =  1
 i =  4 j =  2
 i =  4 j =  3
 i =  4 j =  4

### While Loops

In [15]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0 
while counter < 11:
    print(counter)
    counter +=1
    
print("\n")

num = 0
while num < 15:
    print(num**2)
    num += 1

0
1
2
3
4
5
6
7
8
9
10


0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

##### looping 'While True'

In [19]:
# true as a condition for while loop to run
game_over = False
while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

In [21]:
# while loop with while true with usr input
# the loop will break when the user enter quit
while True:
    name = input("what is your name?")
    if name == "quit":
        break
    print(name)

what is your name? morg

morg

what is your name? quit

In [22]:
game = True

my_list = [1,2,3,4,5,6]
index = 0
while game: # while true because game == true
    if my_list[index] == 4:
        game = False
    print(my_list[index])
    index += 1

1
2
3
4

##### While & For Loops Used Together

In [23]:
j = 0

while j < 10:
    print("\n while loop iteration", j)

    for i in range(2):
        print("for loop iteration",i)

    j += 1

 while loop iteration 0
for loop iteration 0
for loop iteration 1

 while loop iteration 1
for loop iteration 0
for loop iteration 1

 while loop iteration 2
for loop iteration 0
for loop iteration 1

 while loop iteration 3
for loop iteration 0
for loop iteration 1

 while loop iteration 4
for loop iteration 0
for loop iteration 1

 while loop iteration 5
for loop iteration 0
for loop iteration 1

 while loop iteration 6
for loop iteration 0
for loop iteration 1

 while loop iteration 7
for loop iteration 0
for loop iteration 1

 while loop iteration 8
for loop iteration 0
for loop iteration 1

 while loop iteration 9
for loop iteration 0
for loop iteration 1

##### The Range Function

In [24]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given

for num in range(10):
    print(num)
print("\n")

for num in range(1, 10):
    print(num)

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9

### String Manipulation Exercise

In [38]:
# looping through a list
my_names = ["Ryan", "Alex", "Alex2", "Will"]
for name in my_names:
    print(name)


names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.
for name in names:
    print(name.strip().title())

Ryan
Alex
Alex2
Will
Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [ ]:
our_list = [] # empty list

names = ["ryan","alex", "justin", "liz", "alex"]
numbers = [1,2,3,4,5,6]
things = ["dog",2,[1,2,3,4], "person"]
print(names)
print(things)

##### Indexing a List

In [46]:
# [start: stop: step] --> last item [-1]
names = ["ryan","alex", "justin", "liz", "alex", "Razvan"]
# single index
print(names[4])
# regardless of list length, -1 will always be the last index (position)
print(names[-1])
# list slicing
# print portion of list starting at index1 and going to the end of the list
print(names[1:])
# print starting at the beginning and go to a specified index
print(names[:3])
# stepping through list by 2
print(names[::2])
# print stepping backwards thorugh the list
print(names[::-1])

reversed_names = names[::-1]
print(reversed_names)

alex
Razvan
['alex', 'justin', 'liz', 'alex', 'Razvan']
['ryan', 'alex', 'justin']
['ryan', 'justin', 'alex']
['Razvan', 'alex', 'liz', 'justin', 'alex', 'ryan']
['Razvan', 'alex', 'liz', 'justin', 'alex', 'ryan']

### List Methods

##### .append()

In [49]:
# list.append(thing youre appending)
names = ["ryan","alex", "justin", "liz", "alex", "Razvan"]
names.append("will")
print(names)

names.append("Mo")
print(names)

['ryan', 'alex', 'justin', 'liz', 'alex', 'Razvan', 'will']
['ryan', 'alex', 'justin', 'liz', 'alex', 'Razvan', 'will', 'Mo']

##### .insert()

In [53]:
#our_list.insert(index, value)
names.insert(1, "Morgan")
print(names)

names.insert(3, "Jeiavonni")
print(names)

['ryan', 'Morgan', 'Morgan', 'Morgan', 'Jeiavonni', 'alex', 'liz', 'alex', 'Razvan', 'will', 'Mo']
['ryan', 'Morgan', 'Morgan', 'Jeiavonni', 'Morgan', 'Jeiavonni', 'alex', 'liz', 'alex', 'Razvan', 'will', 'Mo']

##### .pop()

In [56]:
# list.pop(optional index to pop out)
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
popped_name = names.pop(6)
print(names)
print(popped_name)

['ryan', 'Morgan', 'Morgan', 'Jeiavonni', 'Morgan', 'alex', 'Razvan', 'will', 'Mo']
alex

##### .remove()

In [58]:
# list.remove(thing to be removed)
# value to be removed, not an index
print(names)
names.remove("ryan")
print(names)

['ryan', 'Morgan', 'Morgan', 'Jeiavonni', 'Morgan', 'alex', 'Razvan', 'will', 'Mo']
['Morgan', 'Morgan', 'Jeiavonni', 'Morgan', 'alex', 'Razvan', 'will', 'Mo']

### Working With Lists

##### del()

In [59]:
# index to be removed, not value 
print(names)
del names[1]
print(names)

['Morgan', 'Morgan', 'Jeiavonni', 'Morgan', 'alex', 'Razvan', 'will', 'Mo']
['Morgan', 'Jeiavonni', 'Morgan', 'alex', 'Razvan', 'will', 'Mo']

##### min()

In [60]:
# return the smallest item in a list
numbers = [2,5,1,6,47,12]
print(min(numbers))

1

##### max()

In [61]:
# returns largest item in a list
numbers = [2,5,1,6,47,12]
print(max(numbers))

47

##### sum()

In [62]:
# return the sum of all numbers in a list
numbers = [2,5,1,6,47,12]
print(sum(numbers))

73

##### sorted()

In [64]:
#sorted will return a new sorted list, create a new variable
numbers = [2,5,1,6,47,12]
print(sorted(numbers))
sorted_nums = sorted(numbers)
print(sorted_nums)

[1, 2, 5, 6, 12, 47]
[1, 2, 5, 6, 12, 47]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [66]:
#.sort() will sort the original list
numbers = [2,5,1,6,47,12]
numbers.sort()
print(numbers)

[1, 2, 5, 6, 12, 47]

##### Copying a List

In [68]:
# [:] copies a list, doesn't alter original'
names = ["ryan","Alex", "justin", "liz", "Alex", "Razvan"]
print(names[:])
names_copy = names[:]
print(names_copy)

['ryan', 'Alex', 'justin', 'liz', 'Alex', 'Razvan']
['ryan', 'Alex', 'justin', 'liz', 'Alex', 'Razvan']

##### Looping Through Lists

In [72]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]
# looping by enumerate
for i, n in enumerate(names):
    print(i, n)

# looping by index
for i in range(len(names)):
    print(names[i])

# looping by value
for name in names:
    print(name)

0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu
Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu

##### 'in' keyword

In [76]:
names = ["ryan","Alex", "justin", "liz", "Alex", "Razvan"]

if "liz" in names:
    print("yay liz")
else:
    print("boo no liz")

yay liz

##### 'not in' keyword

In [80]:
names = ["ryan","Alex", "justin", "liz", "Alex", "Razvan"]
if "Frederick" not in names:
    print("no frederick")
else:
    print("Frederick")

no frederick

##### Checking an Empty List

In [82]:
l_2 = []

if l_2 == []:
    print("that list is empty")
if l_2:
    print("this list has stuff")
else:
    print("this list doesnt have stuff")

that list is empty
this list doesnt have stuff

##### Removing Instances with a Loop

In [84]:
#while, remove
names = ["ryan", "justin", "liz","Alex", "Alex", "Razvan"]
for name in names:
    if name == "Alex":
        names.remove(name)
print(names)

# using while loop with remove
while "Alex" in names:
    names.remove("Alex")
print(names)

['ryan', 'justin', 'liz', 'Alex', 'Razvan']
['ryan', 'justin', 'liz', 'Razvan']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [85]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
norepeat = []
for name in names:
    if name not in norepeat:
        norepeat.append(name)
print(norepeat)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [89]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = []
nums_squared = [x**2 for x in nums if x%2 == 0]

squared_nums = []
for x in nums:
    if x%2 ==0:
        squared_nums.append(x**2)
print(squared_nums)

[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [90]:
tup_1 = (1, 2, 3)
tup_2 = 1, 2, 3, 
print(tup_2)

(1, 2, 3)

##### sorted()

In [95]:
tup = (2, 5, 1, 10, 95, 123)
sorted_tup_list = sorted(tup)
print(sorted(tup))

some_list = [5, 12, 654, 234, 76, 23]
sorted_list = sorted(some_list)
print(sorted_list)

sorted_list = tuple(sorted_list)
new_tup = tuple(sorted_tup_list)
print(new_tup)

new_new_tup = new_tup + sorted_list
print(new_new_tup)

[1, 2, 5, 10, 95, 123]
[5, 12, 23, 76, 234, 654]
(1, 2, 5, 10, 95, 123)
(1, 2, 5, 10, 95, 123, 5, 12, 23, 76, 234, 654)

In [ ]:
my_list = [1,2,3,4,5]
my_list2 = [6,7,8,9,10]

new_list = my_list + my_list2
print(new_list)

##### Adding values to a Tuple

In [94]:
tup = (20, 5, 1, 10, 95, 123)
print(tup)

tup = tup + (6,)
print(tup)

(20, 5, 1, 10, 95, 123)
(20, 5, 1, 10, 95, 123, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [88]:
alist = [1,11,14,5,8,9]
for i in alist:
    if i < 10:
     print(i)

1
5
8
9

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [2]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]
l_3 = l_1 + l_2
print(l_3)
l_3.sort()
print(l_3)

[1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 10]
[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [112]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
for i in nums:
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>
<p>Hint: There is an empty string at the end of the list you will need to account for.

In [ ]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']
names_remove = ['Briant', 'Ryan', 'steve']
for name in names_remove:
    if name in names_remove:
        name.names_remove(name)


for name in names_list:
    print(name.strip().title())

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>
<p>Hint: A Prime # is any # that is ONLY divisible by 1 and itself. So think how you can iterate through the list of #s from 1 to 100 and check to see if its divisible by ANY # below it.
<p>The For/Each might be very helpful for this question. 
https://www.geeksforgeeks.org/using-else-conditional-statement-with-for-loop-in-python/